.section,
.header,
.footer,
.toolbar,
.main {
  box-sizing: border-box;
  border: dashed 1px #777;
}

$headerHeight: 2em;
$footerHeight: 1.5em;
$toolbarHeight: 3em;
$otherHeight: $headerHeight + $footerHeight + $toolbarHeight;
$mainHeight: calc(100vh - #{$otherHeight});

.header {
  height: $headerHeight;
}
.footer {
  height: $footerHeight;
}
.toolbar {
  height: $toolbarHeight;
}
.main {
  height: $mainHeight;
}
