.grid {
  display: flex;
  flex-wrap: wrap;

  margin: -5px;

  .gridItem {
    border: solid 2px #ccc;
    border-radius: 5px;
    margin: 5px;
    min-width: 200px;
    min-height: 200px;
    cursor: pointer;

    &:hover {
      border: solid 5px #ccc;
      margin: 2px;
    }
  }
}
